<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/about.css">
    <title>About Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
    <section id="description">
       <h4>Who was Michelangelo Buonarroti?</h4>
       <p> Michelangelo Buonarotti (1475-1564), an Italian Renaissance maestro, led a remarkable life marked by artistic brilliance and cultural impact. Born in Caprese, he showed early promise in sculpture, apprenticing under Ghirlandaio and attracting the attention of Lorenzo de' Medici. His iconic marble statue, "David," completed at 29, exemplified his anatomical precision and artistic prowess. Commissioned by Pope Julius II, Michelangelo adorned the Sistine Chapel's ceiling with masterful frescoes, a monumental feat lasting four years. Despite his sculptural achievements like the "Pieta," he reluctantly undertook architectural projects, including St. Peter's Basilica's dome. A complex personality, Michelangelo's tumultuous relationships and introspective nature left an indelible mark on his era.</p>
       <img src="/michelangelo.jpeg" alt="michelangelo">
    </section>
</body>
</html>