<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
    <header>
        <h1 id="title">MICHELANGELO BUONARROTI</h1>
        <h3 >Welcome 😊</h3>
        <p>Get ready for an interesting adventure inside the life and works of the Renaissance's best painter and sculptor...</p>
    </header>
</body>
</html>