<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works Page</title>
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/works.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
    <section id="works">
        <div class="artwork">
            <h4 class="title-work">"David"</h4>
            <p class="description">Michelangelo's iconic marble sculpture depicts the biblical hero David before his battle with Goliath. Towering at 17 feet, the statue is a testament to Michelangelo's mastery of anatomy and his ability to capture the essence of human strength and determination.</p>
            <img src="/david.jpeg" alt="david">
        </div>
        <div class="artwork">
            <h4 class="title-work">"Sistine Chapel Ceiling"</h4>
            <p class="description">Commissioned by Pope Julius II, this masterpiece features a series of frescoes, including the renowned "Creation of Adam." Michelangelo's meticulous detailing and innovative composition in depicting biblical scenes have made the Sistine Chapel one of the most celebrated artistic achievements in history.</p>
            <img src="/adam.jpeg" alt="adam">
        </div>
        <div class="artwork">
            <h4 class="title-work">"Pieta"</h4>
            <p class="description"> This poignant marble sculpture portrays the Virgin Mary cradling the lifeless body of Jesus. Michelangelo's skillful rendering of emotion and delicate forms reflects his ability to convey profound human sentiment through stone.</p>
            <img src="/pieta.jpeg" alt="pieta">
        </div>
        <div class="artwork">
            <h4 class="title-work">"The Last Judgment"</h4>
            <p class="description">Covering the altar wall of the Sistine Chapel, this fresco depicts the Second Coming of Christ and the final judgment. Michelangelo's dramatic portrayal of the human form adds to the enduring power of this work.</p>
            <img src="/last-judgement.jpeg" alt="last-judgement">
        </div>
    </section>
</body>
</html>